name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  golangci:
    name: golangci-lint
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      # https://github.com/actions/checkout/releases/tag/v6.0.0
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Set up Go
      # https://github.com/actions/setup-go/releases/tag/v6.1.0
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: '1.25.2'
        cache: true

    - name: Run golangci-lint
      # https://github.com/golangci/golangci-lint-action/releases/tag/v6.2.0
      uses: golangci/golangci-lint-action@971e284b6050e8a5849b72094c50ab08da042db8
      with:
        version: latest
