name: Test and Build

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      # https://github.com/actions/checkout/releases/tag/v6.0.0
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Set up Go
      # https://github.com/actions/setup-go/releases/tag/v6.1.0
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: '1.25.2'
        cache: true

    - name: Download dependencies
      run: go mod download

    - name: Install tools
      run: make tools

    - name: Run tests
      run: make test

  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      # https://github.com/actions/checkout/releases/tag/v6.0.0
      uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3

    - name: Set up Go
      # https://github.com/actions/setup-go/releases/tag/v6.1.0
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c
      with:
        go-version: '1.25.2'
        cache: true

    - name: Build
      run: make build

    - name: Upload binary
      # https://github.com/actions/upload-artifact/releases/tag/v5.0.0
      uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
      with:
        name: jhub-app-proxy
        path: jhub-app-proxy
        retention-days: 7
